.git
.gitignore
.env
.env.example
.DS_Store
.editorconfig
docker-compose.yml
.dockerignore
Dockerfile
README.md
tests/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
node_modules/
npm-debug.log
.vscode
.idea
*.swp
*.swo
*~
.phpunit.result.cache
